body {
    background-color:#B00;
    margin: 0px;
    padding: 0px;
        }
        
#central { 
    margin: 0 auto;
    width: 600px;
    padding: 0 px;
    margin:0 px;
      }

#formulario {
    z-index: 10;
    text-align: center;
}

#circle {
    z-index: 30;   
}